*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: black;
    width: 100%;
    height: 100vh;
}
section{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(19, 13, 13);
    color: gray;
}
.submit{
    background: transparent;
    padding: 1rem 3.5rem 1rem 2.4rem;
    border: 1px solid khaki;
    color: white;

}
.submit:hover{
    background-color: khaki;
    transition: 2s;
    transform: rotateX(30deg)
}
.input{
    margin: 1rem;
}
input[type = 'password']{
    background: transparent;
    position: relative;
    color: white;
    font-size: 19px;
    border: 1px solid #ccc;
    padding: 0.5rem 7.50rem 0.5rem 0.3rem;
}
